@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);

.landing-bg {
  background-color: black;
  background-image: url("http://www.dailyventure.com/media/highres/Diamond-Head-Kaimuki.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.9;
  height: 1000px;
}

.profile-bg {
  background-color: red;
}

.name {
  font-size: 40px;
}

.profile-body {
  font-size: 20px;
}

.landing-buffer {
  padding-bottom: 40px;
}

.landing-icon {
  padding-left: 15px;
  padding-right: 15px;
}

.landing-button {
  padding-left: 15px;
  padding-right: 15px;
}

.postr-logo {
  padding-top: 100px;
}

.user-home {
  background-color: #e0fbff;
}
.progress-bar {
  position: relative;
  height: 20px;
  width: 100%;
  border-radius: 50px;
  border: 1px solid #333;
}

.filler {
  background: red;
  height:100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

.pricetag{
    white-space:nowrap;
    position:relative;
    margin:0 5px 0 10px;
    display:inline-block;
    height:50px;
    border-radius: 0 5px 5px 0;
    padding: 7px 25px 0 25px;
    background:#E8EDF0;
    border: 1px solid #C7D2D4;
    color:#999;
    line-height:23px;
		z-index:0;
}
.pricetag:after{
    position:absolute;
    right:0;
    margin:1px 7px;
    font-weight:bold;
    font-size:19px;
}
.pricetag:before{
		z-index:1;
    position:absolute;
    background:#E8EDF0;
    content:"\25CF";
    color:white;
    text-shadow: 0 0 1px #aaa;
    font-size:12px;
    line-height:13px;
    text-indent:6px;
    top:7px;
    left:-19px;
    width: 35px;
    height: 35px;
    transform: rotate(-45deg);
    border-left:1px solid #C7D2D4;
    border-top:1px solid #C7D2D4;
}
